.swiper-slide {
	background: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 200px;
	box-sizing: border-box;
	//border: 10px solid #ccc;
}

.icon {
	color: rgb(221, 103, 103);
	font-size: 200px;
	position: absolute;
	transform: translate(-250%, -200%);
	//-ms-transform: translate(-50%, -50%);
	//text-align: center;
}